




/* Don't go here. */

.instant-token-wrapper {
  position : relative;
  margin: 0;
  padding: 0;
}

.instant-token-box {
  
}

.instant-token-input {
  position:absolute;
  z-index: 5;
  background: transparent;
}

.instant-token-background {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index:1;
  color: silver;
}